body{
    margin-left: 20px;
}

.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    color: white;
    background-color: dodgerblue;
    
}
